body {
    overflow-x: hidden;
}

.container-login-form {
    background-color: white;
    width: 300px;
    height: 280px;
    border-radius: 10px;
    box-shadow: 0px 0px 13px -8px #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.sec-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-container-verify-code {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-verify-form {
    display: flex;
}

.Unshow-verify-form {
    display: none;
}

.show-login-form {
    display: flex;
}

.Unshow-login-form {
    display: none;
}

.logo-login-form {
    width: 80px;
    height: 40px;
    object-fit: contain;
    margin: 0 auto;
}

.title-login-form {
    color: #1D1C20;
    font-size: 23px;
    font-weight: 500;
}

.text-login-form {
    color: #B5B5B5;
    font-size: 12px;
}

.input-login-form {
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    padding: 7px;
    direction: ltr;
    width: 80%;
    outline: none;
    transition: 0.3s;
    letter-spacing: 1px;
}

.input-login-form:focus {
    border: 1px solid #EE1F36;
}

.btn-login-form {
    background-color: #EE1F36;
    border: none;
    color: white;
    border-radius: 7px;
    width: 60%;
    padding: 5px;
    font-family: yekan;
    cursor: pointer;
}

.timer {
    color: #B5B5B5;
}

.container-logo-and-icon{
    display: flex;
    align-items: center;
    position: relative;
    width: 90%;
}

.icon-veryify{
    color: #595959;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    left: 0;
}