body{
    overflow-x: hidden;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 89vh;
}

.imgs-header {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.container-texts-header {
    width: 445px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.title-header {
    color: #EE1F36;
    font-size: calc(1vw + 20px);
}

.sub-title-header {
    color: #414141;
    font-size: calc(1vw + 7px);
    font-weight: 100;
}

.btn-header {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #EE1F36;
    color: white;
    padding: 5px;
    border: 1px solid #EE1F36;
    width: 80px;
    font-family: yekan;
    font-size: 15px;
    cursor: pointer;
}

.input-header {
    font-size: 15px;
    font-family: yekan;
    direction: ltr;
    border: 1px solid #EE1F36;
    padding: 5px;
    width: 300px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    outline: none;
    letter-spacing: 2px;
}