input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.container-questions{
    width: 100%;
    display: flex;
    margin-top: 1100px;
    justify-content: space-between;
    height: auto;
    align-items: center;
}

.container-acor{
    width: 50%;
}

.container-question-form{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    row-gap: 20px;
    padding: 20px;
    box-shadow: 0px 0px 13px -8px #000000;
}

.title-questions-section{
    color: #EE1F36;
    font-size: calc(2vw + 5px);
    position: relative;
    bottom: 20px;
}

.texts-acor{
    font-family: yekan;
}

.title-question-form{
    font-size: calc(2vw + 5px);
    color: #EE1F36;
}

.desc-question-form{
    font-size: calc(1vw + 3px);
    color: rgb(32, 32, 32);
}

.input-question-form{
    background-color: #F5F5F5;
    border: none;
    border-radius: 10px;
    width: 80%;
    outline: none;
    font-family: yekan;
    height: 40px;
    padding: 10px;
    font-size: calc(1vw + 2px);
}

.btn-question-form{
    background-color: #EE1F36;
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 40px;
    color: white;
    font-family: yekan;
    font-size: calc(1vw + 3px);
    cursor: pointer;
}

.texts-acor{
    font-family: yekan !important;
    font-size: calc(1vw + 3px) !important;
    color: black !important;
}

.desc-acor{
    font-family: yekan !important;
    font-size: calc(1vw + 3px) !important;
    font-weight: 300 !important;
}