body {
  font-family: yekan;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

.container{
  width: 100vw;
  display: flex;
  justify-self: center;
  flex-direction: column;
  background-color: #F5F5F5;
}

.sub-container{
  width: 85vw;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: blue; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}