body {
  font-family: yekan;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

.container{
  width: 100vw;
  display: flex;
  justify-self: center;
  background-color: #F5F5F5;
}