.container-footer {
    background-color: #2B2A2D;
    width: 100%;
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    margin-top: 600px;
    padding: 50px;
}

.container-right{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.container-about-flat {
    width: 300px;
}

.about-flat-title {
    color: white;
}

.text-about-flat {
    color: white;
    font-weight: 300;
    font-size: 15px;
}

.container-rich-quick {
    width: 120px;
}

.title-rich-quick {
    color: white;
}

.links-rich-quick {
    color: white;
    font-weight: 300;
    font-size: 15px;
}

.container-left{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.container-social {
    width: 160px;
}

.title-social {
    color: white;
}

.btn-social {
    color: white;
    font-weight: 300;
    font-size: 15px;
    background: none;
    font-family: yekan;
    border: none;
    cursor: pointer;
}

.container-avatars {
    width: 210px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
}

.title-avatars {
    color: white;
}

.container-avatars-img {
    display: flex;
    justify-content: space-between;
}

.imgs-avatar {
    border-radius: 10px;
    cursor: pointer;
}

.container-un-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    position: absolute;
    margin-top: 215px;
    background-color: white;
    padding: 0 130px;
}

.develop-from-me {
    color: black;
    font-weight: 500;
    font-size: calc(1vw + 1px);
}

.save-data-text {
    color: black;
    font-weight: 500;
    font-size: calc(1vw + 1px);
}

.my-name {
    cursor: pointer;
    color: #EE1F36;
}