.container-navbar {
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
}

.logo {
    width: 54px;
    height: 30px;
}

.nav-links {
    font-size: calc(1vw + 2px);
    color: #595959;
    font-weight: 300;
    font-family: yekan;
}

.right-sec-navbar {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 30px;
    transition: 0.5s;
}

.left-sec-navbar {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}

.login-btn {
    color: #595959;
    font-size: calc(1vw + 2px);
}

.signup-btn {
    font-size: calc(1vw + 2px);
    background-color: #EF273DF6;
    color: white;
    padding: 3px 15px;
    border-radius: 8px;
}

.icon-hamberger-menu{
    font-size: 40;
    color: #595959;
    display: none;
    cursor: pointer;
}

.icon-close-menu{
    color: white;
    display: none;
    font-size: 20px;
}